PORT=
MONGO_URI=
REDIS_URL=
REDIS_TOKEN=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
BREVO_API_KEY=
EMAIL_FROM_ADDRESS= # e.g. ChatConnect <your_verified_email@gmail.com>
# GMAIL_USER=
# GMAIL_APP_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EXPO_ACCESS_TOKEN=
