# ==============================================================================
# ChatConnect Expo Client Environment Variables Example (Variable names only)
# ==============================================================================

EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_GIPHY_API_KEY=
EXPO_PUBLIC_TURN_URL=
EXPO_PUBLIC_TURN_USERNAME=
EXPO_PUBLIC_TURN_PASSWORD=
